@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300,400&amp;subset=cyrillic');
@basic-font: 16px;
@font-family: 'Open Sans', sans-serif;
@special-font: 'Roboto', serif;
@text-color: #111111;
@gray-fon: #f3f3f3;
@gray-text: #666;
@gray: #6f6f6f;
@silver: #9da0a5;
@link: #0aaf5f;
@blue: #23559d;
@blue-fon: #2e5283;
@white: #d6d6d6;
@notebook: ~"(max-height: 800px)";
@mobile: ~"(max-width: 767px)";
@tablet: ~"(min-width: 768px) and (max-width: 992px)";
@medium: ~"(min-width: 992px) and (max-width: 1200px)";
@mobile_tablet: ~"(max-width: 992px)";
@small_tablet: ~"(min-width: 451px) and (max-width: 767px)";
@smartphone: ~"(max-width: 450px)";
@somit-height: 920px;

body { background: @gray-fon; font-family: @font-family; font-size: @basic-font; font-weight: 400; color: @text-color;}
h1,h2,h3,h4,h6,h6,p,ul,li {margin: 0; padding:0px; }
a, a:hover { color: inherit;}
a:focus {  color: inherit; text-decoration: none;}

.somit{
	background-size: cover;
	//min-height: @somit-height;
	padding: 95px 0;
}
.lang-block{
	font-size: 14px;	
	position: absolute;		
	& a{
		text-decoration: none;
	}
}
.somit-main{
	background: url(../img/bg-main.png) top center no-repeat #131414;
	& .container{
		position: relative;
		height: 100%;		
	} 
	& .lang-block{
		top: 0px;
		left: 20px;
		color: @gray-text;
		& .current{
			color: @blue;
		}
		@media @mobile{
			top: -50px;
			left: 50%;
			margin-left: -31px;
		}
	}
	& .logo-block{
		text-align: center;
		margin: 0 auto 70px;
	}
	& .slogan-block{
		text-align: center;
		& h1{
			color: @white;
			font-size: 50px;
			font-family: @special-font;
			font-weight: 300;
			text-transform: uppercase;
			@media @smartphone{
				font-size: 40px;
				margin: 0 10px;
			}
		}		
	}
	& .mouse-block {
    margin: 20% auto 0;
    width: 19px;    
    text-align: center;
    & .mouse {
	    background: url(../img/mouse.png) no-repeat;
	    height: 33px;
	    width: 19px;
		}
		& .mouse-arrow {
	    background: url(../img/mouse_hvost.png) no-repeat center;
	    height: 6px;
	    margin: 8px auto 3px;
	    width: 11px;
	    -webkit-animation: scroll-arrow 1s infinite;
	    animation: scroll-arrow 1s infinite;
		}
	}
}
@-webkit-keyframes scroll-arrow {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: .6;
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    opacity: 1;
  }
}
@keyframes scroll-arrow {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: .6;
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    opacity: 1;
  }
}
.somit-services{
	background-image: url(../img/bg-services.png);
	background-repeat: repeat-y;
	background-position: center top;
	background-color: #ededed;
}
.text-blue{
	color: @blue;
}
.text-white{
	color: @white;
}
.h1{
	font-family: @special-font;
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0 30px;
	margin: 0 0 35px 0;
	position: relative; 
	@media @mobile{
		font-size: 28px;
	}	
	@media @smartphone{
		font-size: 24px;
	}
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -105px;
		width: 210px;
		height: 2px;
		background-color: @blue;
	}
}
.h2{
	font-family: @special-font;
	font-size: 35px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 20px 0 20px 0;
	position: relative; 
	&.with-icon{
		padding: 2px 0 10px 40px;
	}
	@media @mobile{
		font-size: 25px;
	}
	@media @smartphone{
		font-size: 18px;
		max-width: 200px;
	}
}
.h3{
	font-family: @special-font;
	font-size: 28px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 10px 0 30px;
	margin: 0 0 35px 0;
	position: relative; 
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;		
		width: 210px;
		height: 2px;
		background-color: @blue;
	}
	@media @mobile{
		font-size: 25px;
	}
	@media @smartphone{
		font-size: 20px;
	}
}
h4{
	color: @blue;
	font-family: @special-font;
	font-size: 18px;
	text-transform: uppercase;
	margin: 15px 0;
}
.basic-text{
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	text-align: center;
	max-width: 770px;
	margin-left: auto;
	margin-right: auto;
	@media @smartphone{
		font-size: 18px;
	}
}
.services-all{
	margin-top: 80px;
	margin-bottom: 60px;
	@media @tablet{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	@media @mobile{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
.service-block{
	cursor: pointer;
	margin: 15px auto;	
	max-width: 215px;
	@media @mobile{
		margin: 0px auto;
	}
	& .icon{
		background-repeat: no-repeat;
		background-position: center;
		border-bottom: 2px solid @blue;
		height: 180px;
		width: 120px;
		margin: 0 auto 30px;
		transition: all .5s ease-in-out;
		@media @mobile{
			-webkit-background-size: contain;
			     -o-background-size: contain;
			        background-size: contain;
			height: 80px;
			width: 53px;
			margin: 10px auto 10px;
		}
	}
	& .title{
		color: @blue;
		font-size: 25px;
		text-align: center;
		transition: all .5s ease-in-out;
		@media @mobile{
			font-size: 20px;
		}
	}
	.col-services-1 &{		
		& .icon { background-image: url(../img/service-1.png);}
		&:hover{
			& .icon { background-image: url(../img/service-1-1.png);}
		}
	}
	.col-services-2 &{
		& .icon { background-image: url(../img/service-2.png);}
		&:hover{
			& .icon { background-image: url(../img/service-2-1.png);}
		}
	}
	.col-services-3 &{
		& .icon { background-image: url(../img/service-3.png);}
		&:hover{
			& .icon { background-image: url(../img/service-3-1.png);}
		}
	}
	.col-services-4 &{
		& .icon { background-image: url(../img/service-4.png);}
		&:hover{
			& .icon { background-image: url(../img/service-4-1.png);}
		}
	}
	&:hover{
		& .title{
			color: @silver;
		}
		& .icon{
			border-color: @silver;
		}	
	}
}
.services-wrap, .projects-all{
	position: relative;	
}
.col-services, .col-project{
	position: static;	
}
.open-descr{
	background-color: #FFF;
	border-radius: 6px;
	box-shadow: 0 0 20px 2px rgba(48,48,48,0.3);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;	
	z-index: 100;
	display: none;
	@media @tablet{
		max-height: 600px;
	}
}
.service-descr{	
	& .h2:before{
		content: "";
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
		position: absolute;
		top: 0;
		left: 0;
		width: 30px;
		height: 40px;
	}
	.col-services-1 &{
		& .h2:before{ background-image: url(../img/service-1.png);}
	}
	.col-services-2 &{
		& .h2:before{ background-image: url(../img/service-2.png);}
	}
	.col-services-3 &{
		& .h2:before{ background-image: url(../img/service-3.png);}
	}
	.col-services-4 &{
		& .h2:before{ background-image: url(../img/service-4.png);}
	}
	& .master-text{
		border-bottom: 1px solid @blue;
		padding-bottom: 20px;
		margin-bottom: 30px;
		& p{
			font-size: 18px;
			margin: 10px 0;
		}
	}
	& ul{
		margin: 20px 0;
		padding: 0;
	}
	& li{
	  list-style: none;
	  margin-bottom: 10px;
	  position: relative;
	  padding-left: 18px;
	  &:before{
	  	content: "";
	  	background-color: @blue;
	  	border-radius: 50%;
	  	position: absolute;
	  	left: 0;
	  	top: 8px;
	  	height: 5px;
	  	width: 5px;
	  }
	}
}
.open-descr-wrap{	
	height: 100%;
	display: none;
	position: relative;
}
.service-descr-wrap{
	background-position: right bottom;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;	
	padding: 15px;
	@media @tablet{
		background-position: right -50px bottom;
		-webkit-background-size: initial;
	     	 -o-background-size: initial;
	          background-size: initial;
	}
	@media @mobile{
		&:before{
			content: "";
			background-color: #FFF;
			opacity: 0.8;
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
.close{
	border: 1px solid @gray;
	border-radius: 50%;
	cursor: pointer;
	height: 36px;
	width: 36px;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 120;
	&:hover{
		border-color: darken(@gray, 20%);
		&:before, &:after{ background-color: darken(@gray, 20%); }
	}
	&:before, &:after{
		content: "";
		background-color: @gray;
		cursor: pointer;
		height: 16px;
		width: 1px;
		position: absolute;
		left: 17px;
		top: 10px;
	}
	&:before{
		-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
	}
	&:after{
		-webkit-transform: rotate(45deg);
    transform: rotate(45deg);    
	}
}
.somit-projects{
	background-image: url(../img/bg-project.png);
}
.col-project{
	&-1{
		.project-block{ background-image: url(../img/bg-project-1.png);	}
	}
	&-2{
		.project-block{ background-image: url(../img/bg-project-2.png);	}
	}
	&-3{
		.project-block{ background-image: url(../img/bg-project-3.png);	}
	}
	&-4{
		.project-block{ background-image: url(../img/bg-project-4.png);	}
	}
}
.projects-all{
	margin: 60px 0 0 0;
}
.project-block{
	background-color: @blue-fon;
	background-position: right top;
	background-repeat: no-repeat;
	border-radius: 6px;
	color: @white;
	cursor: pointer;
	padding: 60px 30px 30px;
	margin: 0 auto 30px;
	min-height: 240px;
	& .title{
		border-bottom: 2px solid @white;
		font-size: 18px;
		font-weight: 300;
		text-transform: uppercase;
		max-width: 205px;
		padding-bottom: 24px;
		margin-bottom: 24px;
	}
	& .descr{
		
	}
}
.project-descr-wrap{
	padding: 35px;
	@media @mobile{
		padding: 35px 15px;
	}
}
.booklet-block{
	margin-top: 20px;
	overflow: hidden;
	max-width: 270px;
	& .booklet-link{
		background-color: @blue;
		border-radius: 0 0 10px 10px;
		box-shadow: 0px 6px 7px 0px rgba(0,0,0,.3) inset;
		color: @white;
		font-size: 14px;
		padding: 16px 0;
		display: block;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.5s ease-in;
		&:hover{
			background-color: darken(@blue, 10%);
			text-decoration: none;
		}
	}
}
.booklet-text{
	& p{
		font-size: 16px;
		margin-bottom: 20px;
		line-height: 1.7;
	}
}
.somit-contacts{
	background-image: url(../img/bg-contacts.png);
	padding-bottom: 0;
}
.footer{
	background-image: url(../img/bg-footer.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 280px;
	padding: 40px 0;
	color: @white;
	text-align:center;
	& .container{
		position: relative;
	}
	& .lang-block{
		top: 108px;
    left: 112px;
    @media @medium{
    	left: 12px;
    }
    @media @mobile_tablet{
			top: 0px;
    	left: 50%;
    	margin-left: -30px;
    }
	}
	& .logo-block{
		@media @mobile_tablet{
			margin-top: 40px;
		}
	}
	& .slogan-block{
		margin: 40px 0;
		& h1{
			color: @white;
			font-size: 30px;
			font-family: @special-font;
			font-weight: 300;
			text-transform: uppercase;
			@media @smartphone{
				font-size: 20px;
			}
		}		
	}
	& .copyright{
		font-size: 14px;
		text-transform: uppercase;
	}
}
.contact-block{
	margin-bottom: 70px;
	@media @mobile{
		margin: 40px auto;
		max-width: 370px;
	}
}
.feedback-body{
	background: -webkit-linear-gradient(to bottom left, #ebeaeb, #e5dde5, #d7dbe2);
	background: linear-gradient(to bottom left, #ebeaeb, #e5dde5, #d7dbe2);
	border-radius: 6px;
	max-width: 370px;
	padding: 10px 15px;
	& input[type=text], & input[type=email], & textarea{
		border-radius: 6px;
		border: none;
		font-size: 16px;
		font-weight: 300;
		padding: 6px;
		margin: 7px 0;
		width: 100%;
	}
	& textarea{
		height: 120px;
	}
	& input[type=submit]{
		background-color: @blue;
		border-radius: 6px;
		border: none;
		color: @white;
		font-size: 16px;
		font-weight: 300;
		padding: 6px 20px;
		margin: 10px 0;
		transition: all 0.5s ease-in-out;
		&:hover{
			background-color: darken(@blue, 10%);
		}
	}
}

.icon-to-top {
    background: url(../img/to-top.png) no-repeat center center #ebebeb;
    bottom: 15%;
    box-sizing: content-box;
    border-radius: 8px;
    cursor: pointer;
    display: none;
    height: 50px;
    opacity: .7;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: fixed;
    right: 3%;
    width: 50px;
    z-index: 1000;
    &:hover{
    	opacity: 1;
    }
    @media @mobile{
    	display: none !important;
    }
}
@media @smartphone {
  .col-st-1,.col-st-10,.col-st-11,.col-st-12,.col-st-2,.col-st-3,.col-st-4,.col-st-5,.col-st-6,.col-st-7,.col-st-8,.col-st-9{float:left}.col-st-12{width:100%}.col-st-11{width:91.66666667%}
  .col-st-10{width:83.33333333%}.col-st-9{width:75%}.col-st-8{width:66.66666667%}.col-st-7{width:58.33333333%}.col-st-6{width:50%}.col-st-5{width:41.66666667%}.col-st-4{width:33.33333333%}
  .col-st-3{width:25%}.col-st-2{width:16.66666667%}.col-st-1{width:8.33333333%}.col-st-pull-12{right:100%}.col-st-pull-11{right:91.66666667%}.col-st-pull-10{right:83.33333333%}
  .col-st-pull-9{right:75%}.col-st-pull-8{right:66.66666667%}.col-st-pull-7{right:58.33333333%}.col-st-pull-6{right:50%}.col-st-pull-5{right:41.66666667%}.col-st-pull-4{right:33.33333333%}
  .col-st-pull-3{right:25%}.col-st-pull-2{right:16.66666667%}.col-st-pull-1{right:8.33333333%}.col-st-pull-0{right:auto}.col-st-push-12{left:100%}.col-st-push-11{left:91.66666667%}
  .col-st-push-10{left:83.33333333%}.col-st-push-9{left:75%}.col-st-push-8{left:66.66666667%}.col-st-push-7{left:58.33333333%}.col-st-push-6{left:50%}.col-st-push-5{left:41.66666667%}
  .col-st-push-4{left:33.33333333%}.col-st-push-3{left:25%}.col-st-push-2{left:16.66666667%}.col-st-push-1{left:8.33333333%}.col-st-push-0{left:auto}.col-st-offset-12{margin-left:100%}
  .col-st-offset-11{margin-left:91.66666667%}.col-st-offset-10{margin-left:83.33333333%}.col-st-offset-9{margin-left:75%}.col-st-offset-8{margin-left:66.66666667%}
  .col-st-offset-7{margin-left:58.33333333%}.col-st-offset-6{margin-left:50%}.col-st-offset-5{margin-left:41.66666667%}.col-st-offset-4{margin-left:33.33333333%}
  .col-st-offset-3{margin-left:25%}.col-st-offset-2{margin-left:16.66666667%}.col-st-offset-1{margin-left:8.33333333%}.col-st-offset-0{margin-left:0}
}